.main-text {
  max-width: 1024px;
  margin: 20px auto 40px auto;
  font-size: 14px;
  color: #4b5665;
}
.main-text hr {
  border: #e1e4e6 solid 1.33px;
}
.main-text .heading {
  font-size: 48px;
  color: #2c384a;
}
.main-text .time {
  display: flex;
}
.update-disclosure {
  display: flex;
  flex-grow: 1;
  gap: 20px;
  justify-content: start;
  align-items: center;

}
.update-disclosure-child {
  display: flex;
  gap: 8px;
}
.services {
  display: flex;
  list-style-type: none;
  gap: 30px;
  margin: 10px auto;
}
.services li {
  background-color: #ffffff;
  padding: 13px 20px;
  border: none;
  border-radius: 12px;
}

.update-disclosure-child2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.page-indicater{
    display: flex;
    gap: 10px;
}
.page-indicater li{
    list-style-image: url("https://i.ibb.co/5ndwhxw/arrow.png");
     
}
