/* Navbar container styles */
.navbar {
    background-color: #212731;
    min-height: 64px;
    max-width: 100%;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    color: #d1d6da;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 50px ;
  }
  
  
  .navbar-search-img {
    position: absolute;
    height: 24px;
    width: 24px;
    margin: 10px;
  }
  
  .navbar-search-bar input {
    background-color: #ffffff;
    width: 258px;
    height: 37px;
    border: 1px solid black;
    border-radius: 8px;
    padding-left: 40px;
  }
  
  